<div class="col-xs-10"> 
    <div class="form-group">
        <label>Название модели</label>
        <input class="form-control" name="model" [(ngModel)]="printermodel.model" />
    </div>
    <div class="form-group">
        <label>Производитель</label>
        <input class="form-control" name="creator" [(ngModel)]="printermodel.producer" />
    </div>
    <div class="form-group">
        <label>Тип</label>
        <input class="form-control" name="type" [(ngModel)]="printermodel.type" />
    </div>
    <div class="form-group">
        <label>Стоймость печати</label>
        <input class="form-control" name="cost" [(ngModel)]="printermodel.cost" />
    </div>

    <!--<div class="form-group">
        <button class="btn btn-default" (click)="onPrinterInfoChange()">Сохранить</button>
    </div>-->
</div>